.header {
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary-light, 0.5),
            rgba($color-primary-dark, 0.5))
    }

    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        opacity: 0.8;
        height: 4rem;
        -webkit-filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.5));
        filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.5));
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}